/* global */
:root {
    --primary-color: #9b9b9b;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: var(--primary-color);
}

.block {
    display: block;
}

h2,
.white {
    color: #fff;
}


a {
    color: var(--primary-color);
    width: fit-content;
    text-decoration: none;
    display: inline-block;
}

#download-cloud {
    height: 1.5rem;
    width: auto;
}

a * {
    display: inline-block;
    vertical-align: middle;
}

/* section 1 */
.section-1 {
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 img {
    width: 15em;
    height: auto;
    border-radius: 50%;
}

.section-1 svg {
    height: 1.5rem;
    width: auto;
}

.section-1 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 h3 {
    font-size: 1.3rem;
}

.section-1 a {
    font-size: 1.5rem;
    padding: 10px;
}



/* section 2 */
.section-2 {
    padding-top: 14vh;
    width: 70%;
}

.section-2 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-2 ul a {
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;

    text-decoration: underline;
    text-underline-offset: 5px;
}

p a {
    padding: 0;
}

.section-2 ul {
    margin: 0;
    padding-left: 1em;
}

/* animations / utilities */
.section-2 a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .section-1 {
        padding: 0;
        padding-top: 5rem;
    }

    .section-2 {
        padding: 0;
        padding-left: 1.5rem;
        margin-bottom: 2rem;
    }
}